@font-face{
  font-family: "Inconsolata";
  src: url("Inconsolata.otf") format("opentype");
}

.prompted-s-default{
  background-color: rgb(13, 13, 13);
  color: white;
  font-family: "Inconsolata" !important;

  font-size: 13px;
}

.prompted-s-default pre{
  font-family: "Inconsolata" !important;
  font-size: 14px !important;
}

.prompted-s-default .prompted-prompt{
  margin-right: 5px;
  font-weight: bold;
  font-size: 15px;
}

.prompted-s-default .prompted-prompt::after{
  content: "#";
}

.prompted-s-default .prompted-input{
  font-size: 13px;
  color: white;
  font-family: "Inconsolata" !important;
}

.prompted-s-default .prompted-prompt .prompted-accent-2{
  margin-left: 5px;
}

.prompted-s-default .prompted-accent-2{
  color: #82A1BD;
}

.prompted-s-default .prompted-accent-1{
  color: #AAB167;
}

.prompted-s-default .prompted-accent-3{
  color: #AF94B9;
  font-weight: bold;
}
