
.prompted-s-light{
  background-color: rgb(245, 241, 241);
  color: rgb(90, 88, 88);
  font-family: Monaco !important;

  font-size: 13px;
}

.prompted-s-light pre{
  font-family: Monaco !important;
  font-size: 14px !important;
}

.prompted-s-light .prompted-prompt{
  margin-right: 5px;
  font-weight: bold;
  font-size: 15px;
}

.prompted-s-light .prompted-prompt::after{
  content: "#";
}

.prompted-s-light .prompted-input{
  font-size: 13px;
  color: rgb(90, 88, 88);
  font-family: Monaco !important;
}

.prompted-s-light .prompted-prompt .prompted-accent-2{
  margin-left: 5px;
}

.prompted-s-light .prompted-accent-2{
  color: #82A1BD;
}

.prompted-s-light .prompted-accent-1{
  color: #AAB167;
}

.prompted-s-light .prompted-accent-3{
  color: #AF94B9;
  font-weight: bold;
}
