.prompted{
  width: calc(100% - 20px);
  height: calc(100% - 20px);

  overflow-y: scroll;
  overflow-x: hidden;

  padding: 10px;
}

.prompted pre{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.prompted-row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  */
}

.prompted-input{
  outline: none !important;
  background-color: transparent;
  border: none;
  flex: 1;
}

.prompted .flex-list{
  display: -webkit-flex;
   display: flex;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;

  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.prompted .flex-list > li{
  -webkit-align-content: flex-start;
   align-content: flex-start;
   align-content: flex-start;
  width: 23%;
  overflow-wrap: break-word;
  margin-bottom: 2px;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 14px;
}
