.prompted-nano{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-flex-direaction: column;
  -ms-flex-direction: column;
}

.prompted-nano textarea{
  background-color: transparent;
  width: calc(100% - 6px);
  border: none;
  outline: none;
  flex: 1;
}

.prompted-nano > div{
  height: auto;
  width: 100%;
}

.prompted-nano h6{
  background-color: transparent;
  margin: 0;
  font-size: 13px;
  text-align: center;
  padding: 5px;
}

.prompted-nano span{
  padding: 5px;
}

.prompted-nano-commands{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.prompted-nano-commands h5{
  margin: 0;
  position: relative;
  display: inline-block;
  flex: 0 0 24%;
  font-size: 13px;
  padding: 5px;
  margin-bottom: -1px;
}

.prompted-nano-commands span{
  margin-right: 5px;
}
